### 6.판다스 배열
#### 2020/ 05/ 19 Keonwoo Park

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("grade_2.csv")

In [11]:
df.head()

   id  msex  csex  grade
0   1  Male     1      3
1   2  Male     1      4
2   3  Male     1      5
3   4  Male     1      3
4   5  Male     1      2

In [12]:
# 데이터프레임으로 pd.DataFrame(df)

In [14]:
df.shape

(50, 4)

In [16]:
df.index

RangeIndex(start=0, stop=50, step=1)

#### 열 값들을 확인

In [20]:
df.columns

Index(['id', 'msex', 'csex', 'grade'], dtype='object')

In [27]:
dval=pd.DataFrame(df.values)

In [30]:
df.values

array([[1, 'Male', 1, 3],
       [2, 'Male', 1, 4],
       [3, 'Male', 1, 5],
       [4, 'Male', 1, 3],
       [5, 'Male', 1, 2],
       [6, 'Male', 1, 5],
       [7, 'Male', 1, 4],
       [8, 'Male', 1, 4],
       [9, 'Male', 1, 5],
       [10, 'Male', 1, 3],
       [11, 'Male', 1, 2],
       [12, 'Male', 1, 5],
       [13, 'Male', 1, 5],
       [14, 'Male', 1, 5],
       [15, 'Male', 1, 3],
       [16, 'Male', 1, 2],
       [17, 'Male', 1, 1],
       [18, 'Male', 1, 2],
       [19, 'Male', 1, 5],
       [20, 'Male', 1, 5],
       [21, 'Male', 1, 6],
       [22, 'Male', 1, 3],
       [23, 'Male', 1, 5],
       [24, 'Male', 1, 4],
       [25, 'Male', 1, 1],
       [26, 'Male', 1, 2],
       [27, 'Male', 1, 3],
       [28, 'Male', 1, 5],
       [29, 'Male', 1, 4],
       [30, 'Male', 1, 5],
       [31, 'Male', 1, 6],
       [32, 'Male', 1, 7],
       [33, 'Male', 1, 8],
       [34, 'Male', 1, 9],
       [35, 'Male', 1, 1],
       [36, 'Male', 1, 2],
       [37, 'Male', 1, 3],
       [38, 'Male', 1, 3],
       [39, 'Male', 1, 4],
       [40, 'Male', 1, 5],
       [41, 'Male', 1, 6],
       [42, 'Male', 1, 7],
       [43, 'Male', 1, 8],
       [44, 'Male', 1, 1],
       [45, 'Male', 1, 2],
       [46, 'Male', 1, 2],
       [47, 'Male', 1, 3],
       [48, 'Male', 1, 2],
       [49, 'Male', 1, 4],
       [50, 'Male', 1, 2]], dtype=object)

In [36]:
# Dataframe에서 행 선택하기
df.iloc[5]

id          6
msex     Male
csex        1
grade       5
Name: 5, dtype: object

In [41]:
# Dataframe에서 열 선택하기
df.iloc[:,1] # 인덱스로 가져오기

0     Male
1     Male
2     Male
3     Male
4     Male
5     Male
6     Male
7     Male
8     Male
9     Male
10    Male
11    Male
12    Male
13    Male
14    Male
15    Male
16    Male
17    Male
18    Male
19    Male
20    Male
21    Male
22    Male
23    Male
24    Male
25    Male
26    Male
27    Male
28    Male
29    Male
30    Male
31    Male
32    Male
33    Male
34    Male
35    Male
36    Male
37    Male
38    Male
39    Male
40    Male
41    Male
42    Male
43    Male
44    Male
45    Male
46    Male
47    Male
48    Male
49    Male
Name: msex, dtype: object

In [51]:
df.loc[:,'msex'] # 열 이름으로 가져오기.

0     Male
1     Male
2     Male
3     Male
4     Male
5     Male
6     Male
7     Male
8     Male
9     Male
10    Male
11    Male
12    Male
13    Male
14    Male
15    Male
16    Male
17    Male
18    Male
19    Male
20    Male
21    Male
22    Male
23    Male
24    Male
25    Male
26    Male
27    Male
28    Male
29    Male
30    Male
31    Male
32    Male
33    Male
34    Male
35    Male
36    Male
37    Male
38    Male
39    Male
40    Male
41    Male
42    Male
43    Male
44    Male
45    Male
46    Male
47    Male
48    Male
49    Male
Name: msex, dtype: object

In [52]:
# column 삭제
df = df.drop('id',axis=1)
df.head()

   msex  csex  grade
0  Male     1      3
1  Male     1      4
2  Male     1      5
3  Male     1      3
4  Male     1      2